
<link href="~/owlcarousel/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="~/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
<style>
    #wp-slide {
        width: 300px;
        height: auto;
        margin-right: 15px;
    }
    .card-img {
        border-radius: 7px;
        background-image: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0) 100%);
    }
    .super-card {
        background-color: white;
        border-radius: 6px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
        transition: all .2s linear;
        height: 360px;
        text-align: left;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }
    .shadow {
        box-shadow: 0px 0px 8px;
        border-radius:8px;
    }

        .shadow:hover {
            color: #2FA1B3;
        }
    #second {
        position: relative;
        z-index: -1;
    }
</style>
<div id="theme" class="owl-carousel owl-loaded owl-drag ">
    <div class="item shadow" style="display:block;">
        <div class="owl-lazy p-t-275 super-card" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">

        </div>
    </div>
    <div class="item shadow" style="display:block">
        <div class="owl-lazy p-t-275 super-card" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">

        </div>
    </div>
    <div class="item shadow" style="display:block">
        <div class="owl-lazy p-t-275 ; super-card" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">

        </div>
    </div>
    <div class="item shadow" style="display:block">
        <div class="owl-lazy p-t-275 super-card" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">

        </div>
    </div>
    <div class="item shadow" style="display:block">
        <div class="owl-lazy p-t-275 super-card" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">

        </div>
    </div>
    <div class="item shadow" style="display:block">
        <div class="owl-lazy p-t-275 super-card" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">

        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script defer src="~/owlcarousel/owl.carousel.min.js"></script>

