
<link href="~/owlcarousel/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="~/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
<style>
    #wp-slide {
        width: 300px;
        height: auto;
        margin-right: 15px;
    }

    .super-card {
        background-color: white;
        border-radius: 6px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
        transition: all .2s linear;
        height: 360px;
        text-align: left;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

    .card-img {
        border-radius: 7px;
        background-image: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.01) 50%, rgba(0,0,0,0) 100%);
    }
    .no-padding {
        padding: 0px;
    }
</style>
<div class="col-xs-12 no-padding">
    <h2 class="heading__title">Ưu đãi tốt nhất hôm nay</h2>
    <p class="heading__description">Nhanh tay đặt ngay. Để mai sẽ lỡ</p>
</div>
<div id="discount" class="owl-carousel owl-theme">
    <div class="item" data-merge="6" style="display:block">
        <div class="owl-lazy p-t-275 super-card shadow" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">
            <a href="#">
                <div class="card-img">

                </div>
            </a>
        </div>
    </div>
    <div class="item" data-merge="6">
        <div class="owl-lazy p-t-275 super-card shadow" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">
            <a href="#">
                <div class="card-img">

                </div>
            </a>
        </div>
    </div>
    <div class="item" data-merge="6">
        <div class="owl-lazy p-t-275 super-card shadow" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">
            <a href="#">
                <div class="card-img">

                </div>
            </a>
        </div>
    </div>
    <div class="item" data-merge="6">
        <div class="owl-lazy p-t-275 super-card shadow" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">
            <a href="#">
                <div class="card-img">

                </div>
            </a>
        </div>
    </div>
    <div class="item" data-merge="6">
        <div class="owl-lazy p-t-275 super-card shadow" data-src="https://cdn1.ivivu.com/iVivu/2020/04/16/18/khoemanh-1.png">
            <a href="#">
                <div class="card-img">

                </div>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#discount").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            margin: 10,
            lazyLoad: true,
            responsiveClass: false,
            responsive: {
                0: {
                    items: 2,
                    loop: true
                },
                600: {
                    items: 1,
                    loop: true
                },
                1000: {
                    items: 1,
                    loop: true
                }
            }
        })
    });
</script>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script defer src="~/owlcarousel/owl.carousel.min.js"></script>
