

<!-- Icons font CSS-->
<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all" />
<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all" />
<!-- Font special for pages-->
<link href="~/vendor/font-awesome-4.7/css/Lato.css" rel="stylesheet" />
<link href="~/vendor/font-awesome-4.7/css/Poppins.css" rel="stylesheet" />
<!-- Vendor CSS-->
<link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all" />
<link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all" />


<style>
    .img-fluid {
        max-width: 100%;
        height: 100%;
        display: block;
    }
</style>

<!-- Main CSS-->
<link href="~/css/main.css" rel="stylesheet" media="all" />
    @await Component.InvokeAsync("FormSearch")
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="wrapper wrapper--w90auto">
        <div>
            <h1><strong>Ưu đ&atilde;i h&ocirc;m nay....</strong></h1>
        </div>
        <!-- Carousel chủ đề-->
        @await Component.InvokeAsync("Theme")
        <!--End-->
        <!-- Carousel ưu đãi-->
        @await Component.InvokeAsync("Discount")
        <!--End-->
        <!-- grid list trong nước-->
        @await Component.InvokeAsync("Domestic")

        <!--End-->
    </div>
</div>
    <script>
        $(document).ready(function () {
            $("#theme").owlCarousel({
                loop: true,
                autoplay: false,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                margin: 10,
                lazyLoad: true,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 2,
                        loop: true
                    },
                    600: {
                        items: 3,
                        loop: true
                    },
                    1000: {
                        items: 4,
                        loop: true
                    }
                }
            })
            $("#discount").owlCarousel({
                loop: true,
                autoplay: false,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                margin: 10,
                lazyLoad: true,
                responsiveClass: false,
                responsive: {
                    0: {
                        items: 2,
                        loop: true
                    },
                    600: {
                        items: 1,
                        loop: true
                    },
                    1000: {
                        items: 1,
                        loop: true
                    }
                }
            })
        });
    </script>
    <!-- Jquery JS-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/vendor/bootstrap-wizard/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/vendor/datepicker/moment.min.js"></script>
    <script src="~/vendor/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="~/js/global.js"></script>

