

<!-- Icons font CSS-->
<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all" />
<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all" />
<!-- Font special for pages-->
<link href="~/vendor/font-awesome-4.7/css/Lato.css" rel="stylesheet" />
<link href="~/vendor/font-awesome-4.7/css/Poppins.css" rel="stylesheet" />
<!-- Vendor CSS-->
<link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all" />
<link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all" />


<style>
    .img-fluid {
        max-width: 100%;
        height: 100%;
        display: block;
    }
</style>

<!-- Main CSS-->
<link href="~/css/main.css" rel="stylesheet" media="all" />
@await Component.InvokeAsync("FormSearch")
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="wrapper wrapper--w90auto">
        <!-- Carousel chủ đề-->
        @await Component.InvokeAsync("Theme")
        <!--End-->
        <!-- Carousel ưu đãi-->
        @await Component.InvokeAsync("Discount")
        <!--End-->
        <!-- grid list trong nước-->
        @await Component.InvokeAsync("Domestic")
        <!--End-->
        <!-- grid list nước ngoài-->
        @await Component.InvokeAsync("Foreign")
        <!--End-->
    </div>
</div>
    
    <!-- Jquery JS-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/vendor/bootstrap-wizard/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/vendor/datepicker/moment.min.js"></script>
    <script src="~/vendor/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="~/js/global.js"></script>

